<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smc.crawler.mapper.RateOracleMapper">

    <resultMap id="BaseResultMap" type="com.smc.crawler.bean.RateOracle">
            <result property="usdRmb" column="USD_RMB" jdbcType="DECIMAL"/>
            <result property="usdInr" column="USD_INR" jdbcType="DECIMAL"/>
            <result property="usdIdr" column="USD_IDR" jdbcType="DECIMAL"/>
            <result property="updatetime" column="UPDATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        USD_RMB,USD_INR,USD_IDR,UPDATETIME
    </sql>
</mapper>
